.button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  letter-spacing: 3px;
  margin: 0px 10px;
}

.button:hover {
  box-shadow: 0px 15px 20px rgba(34, 34, 34, 0.4);
}