.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 400px;
  height: 600px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-height: 70%;
  min-height: 400px;
  background-color: grey;
  object-fit: cover;
  object-position: center;
}